<div class="limiter">
  <div class="container-login100" (click)="homePageUrl" id="bg"
    style="   background-image: url('assets/images/pages/bg-011.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <span class="login100-form-title pb-5">
          Login
        </span>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="form.get('email').hasError('required')">We need an e-mail address to log you in
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('email')">Please insert a valid e-mail address</mat-error>
              <mat-error *ngIf="form.get('email').hasError('minlength')">Email address must be more than 3 characters
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">
                {{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              <mat-error *ngIf="form.get('password').hasError('required')">We need a password to log you in</mat-error>
              <mat-error *ngIf="form.get('password').hasError('minlength')"> Password must be more than 3 characters
              </mat-error>
              <mat-error *ngIf="form.get('password').hasError('maxlength')"> Password can't exceed more than 100
                characters
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="flex-sb-m w-full  p-b-20">
          <!-- <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""> Remember me
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div> -->
          <div>
            <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button mat-flat-button color="primary" [disabled]="form.invalid || loading" class="login100-form-btn"
            type="submit">
            Login
            <mat-icon class="ml-2" *ngIf="loading">
              <mat-spinner color="accent" diameter="20"></mat-spinner>
            </mat-icon>
          </button>
        </div>
        <div class="text-center p-t-30 p-b-20">
          <span class="txt3">
            Dont have account?
            <a routerLink="/authentication/pricing">
              Sign Up Now
            </a>
          </span>
          <br>
          <span class="txt3">
            Go To
            <a routerLink="/authentication/landing">
              Home
            </a>
          </span>
        </div>
        <div class="container-download-form-btn">

          <button mat-flat-button class="download-form-btn">
            <mat-icon style="float: left; margin-top: 5px; color: white;">cloud_download</mat-icon>
            <!-- <a href="assets/images/Uptym User Manual.pdf" class="btn" download="Uptym User Manual.pdf">
              Download Manual</a> -->
            <a href="#" class="btn">
              Download Manual</a>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>