<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">ABOUT US</div>
                    <p>At Eshe, we believe that everyone deserves access to quality healthcare. That's why we've created
                        a virtual
                        clinic platform that connects patients with virtual clinics for healthcare services and
                        treatment. Our aim
                        is to revolutionize the healthcare industry in Ethiopia and beyond by leveraging technology to
                        improve
                        access to care and treatment.</p>

                    <p>Eshe addresses these challenges head-on by providing a mobile platform that connects patients
                        with virtual
                        clinics for healthcare services and treatment. Our platform includes virtual visits and
                        consultations, a
                        service directory of medical institutions and services, and a patient portal where patients can
                        access and
                        manage their healthcare data. We also facilitate online consultations between doctors, reducing
                        misdiagnoses
                        and improving the quality of care at peripheral health facilities. </p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/eshi.gif" alt="alternative" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cards-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">


                <div class="card">
                    <div class="card-icon">
                        <span>
                            <img src="assets/images/Virtual.png" width="100" height="100">
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">VIRTUAL CONSULTAIONS</h5>
                        <p>Eshe enables patients to access virtual visits and consultations with their healthcare
                            providers through video conferencing, chat, or phone.
                        </p>

                    </div>
                    <div class="gradient-floor purple-to-green"></div>
                </div>

                <div class="card">
                    <div class="card-icon">
                        <span>
                            <img src="assets/images/ServDir.png" width="100" height="100">
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">SERVICE DIRECTORY</h5>
                        <p>Eshe provides a service directory listing of medical institutions and services ready and
                            available to provide care. We make it easier for patients to locate and evaluate health
                            institutions and their quality. </p>

                    </div>
                    <div class="gradient-floor purple-to-green"></div>
                </div>

                <div class="card">
                    <div class="card-icon">
                        <span>
                            <img src="assets/images/portal.png" width="100" height="100">
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">PATIENT PORTAL</h5>
                        <p>Eshe gives patients access to a patient portal where they can view/see their healthcare data
                            decoded to provide them an understanding of their health status.</p>

                    </div>
                    <div class="gradient-floor purple-to-green"></div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">


                <div class="card">
                    <div class="card-icon">
                        <span>
                            <img src="assets/images/doctors.png" width="100" height="100">
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">DOCTOR TO DOCTOR CONSULTAIONS</h5>
                        <p>Doctors at peripheral health facilities can have online consultations with specialists at
                            higher level institutions through Eshe platform. Eshe supports medical decision making
                            through facilitation of consultations with seniors. </p>

                    </div>
                    <div class="gradient-floor purple-to-green"></div>
                </div>



                <div class="footer bg-gray">
                    <img class="decoration-circles" src="assets/images/decoration-circles.png" alt="alternative" />
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Social Link and Contact</h4>
                                <div class="social-container">
                                    <span class="fa-stack">
                                        <!-- <a href="https://www.facebook.com/uptym4maintenace"> -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x"></i>

                                    </span>
                                    <span class="fa-stack">
                                        <!-- <a href="https://twitter.com/uptym_"> -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x"></i>

                                    </span>
                                    <span class="fa-stack">
                                        <!-- <a href="https://www.linkedin.com/showcase/uptym/"> -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-linkedin fa-stack-1x"></i>

                                    </span>
                                    <span class="fa-stack">
                                        <!-- <a href="https://www.instagram.com/uptym_technology/"> -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-instagram fa-stack-1x"></i>

                                    </span>
                                    <span class="fa-stack">
                                        <!-- <a href="https://t.me/uptymbyopian"> -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-telegram fa-stack-1x"></i>

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul class="list-unstyled li-space-lg p-small">
                                    <li>
                                        <div class="address details">
                                            <i class="fas fa-map-marker-alt fa-2x"></i>
                                            <div class="card-body">
                                                <h5 class="card-title">Address</h5>
                                                <p>KT Bldg, 9th Floor
                                                    <br>
                                                    Bole Atlas, Addis Ababa Ethiopia
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="phone details">
                                            <i class="fas fa-phone fa-2x"></i>

                                            <div class="card-body">
                                                <h5 class="card-title">Phone</h5>
                                                <p>+ 251 (0) 977 13 13 13
                                                </p>

                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>


                        </div>
                    </div>
                </div>


                <button id="myBtn">
                    <img src="assets/images/up-arrow.png" alt="alternative" />
                </button>